.venv
~$4_proposal_sumbission_vpbank_hackathon.docx
104_proposal_sumbission_vpbank_hackathon.docx
104-DataFlow-Diagram.drawio
104-ideation-proposal-sumbission-2025.docx
Anomaly_Detection_in_Online_Banking_Transactions.pdf
Hackathon 2025.pdf
src/__pycache__